.candidates {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 1.5rem;
}

.candidate-number {
    position: absolute;
    transform: translateX(-32px);;
    left: 0;
    top: 0;
}

.candidate-number span {
    background-color: lightgreen;
    padding: 1.2rem 1.5rem;
    border-radius: 50%;
}