@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 1.1rem;  
}

.container {
    position: relative;
}

.d-flex {
    display: flex;
}

.d-flex.col {
    flex-direction: column;
}

.d-flex.row {
    flex-direction: row;
}

@media (max-width: 768px) {
    .md-col {
        flex-direction: column !important;
    }
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.pt-0\.5 {
    padding-top: .5rem !important;
}

.pt-1 {
    padding-top: 1rem !important;
}

.pt-1\.5 {
    padding-top: 1.5rem !important;
}

.pt-2 {
    padding-top: 2rem !important;
}

.pt-2\.5 {
    padding-top: 2.5rem !important;
}

.pt-3 {
    padding-top: 3rem !important;
}

.mb-5 {
    margin-bottom: 5rem;
}

.m-1 {
    margin: 1rem !important;
}

.m-2 {
    margin: 2rem !important;
}



.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.w-80 {
    width: 80% !important;
}

.w-100 {
    width: 100% !important;
}


@media (max-width: 768px) {
    .md-w100 {
        width: 100% !important;
    }
}

input {
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    outline-color: rgb(224, 224, 224);
    border: .1rem solid rgb(224, 224, 224);
}

.btn-success {
    background-color: rgb(107, 255, 107);
    color: rgb(20, 32, 20);
    font-weight: bold;
    border-radius: .3rem;
    padding: .9rem 1.5rem;
    border: none;

    transition: all 200ms ease-in-out;
}


.btn-success.\:effect:hover {
    background-color: rgb(136, 255, 136);
}

.btn-warn {
    background-color: rgb(240, 255, 107);
    color: rgb(20, 32, 20);
    font-weight: bold;
    border-radius: .3rem;
    padding: .9rem 1.5rem;
    border: none;

    box-shadow: 1px 1px 20px #0000009f;
    transition: all 200ms ease-in-out;
}

.btn-warn.\:effect:hover {
    background-color: rgb(255, 223, 78);
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
}

.card.top {
    position: relative;
    display: flex;
    box-shadow: none;
    border: 1px solid #c9c9c9;
}

.card.top img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: .5rem;
}

.card.body {
    box-shadow: none;
}

.card.footer {
    display: flex;
    box-shadow: none;
}