.product-form form .form-item {
    gap: 1rem;
}

.product-form form .form-item > label {
    display: flex;
    flex-direction: column;
}

.product-form form .form-item label > input {
    border: .1rem solid #aaaaaa;
    outline-color: rgb(116, 116, 116);
}

.product-form form .form-item label > input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.product-form form .form-item label > input[type="file"]::before {
    content: "Escolha uma imagem";
    display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}